Source: compact-language-detector
Priority: extra
Maintainer: Michael McCandless <lucene at mikemccandless.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Section: libs
Homepage: https://code.google.com/p/chromium-compact-language-detector/
#Vcs-Git: git://git.debian.org/collab-maint/compact-language-detector.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/compact-language-detector.git;a=summary

Package: compact-language-detector-dev
Section: libdevel
Architecture: any
Depends: compact-language-detector (= ${binary:Version})
Description: Language Detection library, as extracted from Google Chromium code, development files.
 This library will detect the language of any inputed natural language text, with reliability numbers.

Package: compact-language-detector
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mime-support, libmagic1, file, gawk
Description: Language Detection library, as extracted from Google Chromium code.
 This library will detect the language of any inputed natural language text, with reliability numbers.
